<div>
  <p>
    This app is Bluemix Data cache sample app created by Ruby.
  </p>

  <p>
    This app has follwing instructios.
  </p>
  <ul>
    <li><a href="/search">Search</a></li>
    <li><a href="/new">New</a></li>
    <li><a href="/delete">Delete</a></li>
  </ul>
</div>
