<div>

  <p>
    This app is Bluemix Data cache sample app created by Ruby.
  </p>

  <p>
    If you want to clone this app, visit here or clone repository by following command.
    <pre><code>
      git clone https://github.com/mukopikmin/ruby-data-cache-sample
    </code></pre>
  </p>

  <ul>
    <li><a href="/search">Search</a></li>
    <li><a href="/new">New</a></li>
    <li><a href="/delete">Delete</a></li>
  </ul>

</div>
