<div>
  <h1>Bluemix Data cache dample app</h1>
  <p>
    This app is Bluemix Data cache sample app created by Ruby.
    <br>
    Bluemix Data cache service is needed to be binded to use this app.
  </p>
  <p>
    This app has follwing instructios.
  </p>
  <ul>
    <li><a href="/search">Search</a></li>
    <li><a href="/new">New</a></li>
    <li><a href="/delete">Delete</a></li>
  </ul>
</div>
